name: Lighthouse

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lighthouse:
    name: Audit
    runs-on: ubuntu-latest
    env:
      RUBY_VER: '3.3'
      NODE_VER: 24
      LHCI_VER: 0.12.x
    steps:
      - uses: actions/checkout@v6
        with:
          # Fix for LHCI status checks not appearing for commits/pull_reqs
          # https://github.com/GoogleChrome/lighthouse-ci/issues/172
          ref: ${{ github.event.pull_request.head.sha }}
      # Build site
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VER }}
          bundler-cache: true
      - name: Install build dependencies
        run: bundle install
      - name: Build site
        run: bundle exec jekyll build
      # Lighthouse audit
      - name: Use Node.js (LTS) for Lighthouse CI
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VER }}
      - name: Cache Node dependencies
        uses: actions/cache@v5
        with:
          path: |
            ~/.npm
            node_modules
          key: ${{ runner.os }}-node${{ env.NODE_VER }}-lighthouse-${{ env.LHCI_VER }}
          restore-keys: |
            ${{ runner.os }}-node$NODE_VER-lighthouse-
      - name: Run the Lighthouse CI
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
        run: |
          npm install @lhci/cli@$LHCI_VER
          npx lhci autorun